.Controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.4rem;    
}

.Controls h2 {
    flex: 1;
}

.RestartButton {
    display: inline-block;
}

.RestartButton button {
    background: #c0392b;
}

@media screen and (max-width: 768px) {
    .Controls {
        flex-direction: column;
        align-items: flex-end;
    }
}